@import url(https://fonts.googleapis.com/css?family=Vollkorn:400);

@font-face { /*Japanese*/
	font-family: 'Meiryo';
    src: url('fonts/Meiryo.ttf') format('truetype');
}

@font-face { /*Chinese*/
    font-family: 'Apple LiGothic Medium';
    src: url('fonts/Apple LiGothic Medium.ttf') format('truetype');
}

@font-face { /*Korean*/
	font-family: 'AppleMyungjo';
    src: url('fonts/AppleMyungjo.ttf') format('truetype');
 } 

@font-face { /*Thai*/
    font-family: 'Sathu';
    src: url('fonts/Sathu.ttf') format('truetype');
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*-webkit-transition: 
all 1s ease-in-out;   
-moz-transition: all 1s ease-in-out;   
-o-transition: all 1s ease-in-out;   
transition: all 1s ease-in-out;*/

html, body { 
	height: 100%; 
	width: 100%; 
}

body {
	background-color: rgb(165,195,216);
}

header {
	height: 15em;
}

p, figcaption {
	color: rgb(90,90,90);
	font-family: 'Vollkorn', serif;
	font-size: 19px;
	line-height: 29px;
}

address {
	color: rgb(90,90,90);
	font-family: 'Vollkorn', serif;
	font-weight: regular;
	font-size: 16px;
	line-height: 26px;
}

h1 {
	color: white;
	font-family: 'Vollkorn', serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 80px;
	margin-bottom: 20px;
}

h2 {
	color: rgb(90,90,90);
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 5px;
	padding-bottom: 15px;
}

h3 {
	color: rgb(90,90,90);
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 21px;
	padding-bottom: 5px;
}

b, figcaption {
	font-size: 18px;
	font-weight: 800;
}

hr { 
	border-top: 4px solid white;
	margin-top: 2em;
	margin-bottom: 2em;
}

footer {
	background-color: #a2a2a2;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: rgb(255,255,255);
	padding: 2em;
	margin-top: 4em;
}


/*wrappers*/

.section {
	width: 50%;
	float: left;
}

#contentwrapper {
	width: 88%;
	float: left;
	padding-bottom: 100px;
}

#logo {
	margin-top: 2em;
	padding-left: 4em;
}

.main_language {
	margin-left: 50px;
}

#navwrapper {
	width: 13%;
	height: 100%;
	float: right;
	position: fixed;
	right: 0;
	top: 0;
}

.nav {
	width: 25%;
	height: 100%;
	float: left;
	margin-right: 1em;
}

.smallnav {
	height: 100%;
}

.navcenter {
	position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.nav_blurb {
	display: inline;
}

/*containers*/

.body_about {
	background-color: #ffd2c9;
}

.language {
	width: 70%;
	min-width: 800px;
	max-width: 1000px;
	margin: auto;
	padding-left: 10em;
	float: left;
}

.levels {
	color: rgb(90,90,90);
	background-color: rgba(255,255,255,0.2);
/*	background-color: rgb(137,175,206);
*/	line-height: 2em;
	padding: 8px;
	margin-bottom: 1em;
}

.sidebar {
	width: 30%;
	max-width: 500px;
	min-width: 200px;
	float: left;
	margin: auto;
	padding-left: 8em;
	padding-right: 8em;
}

.toggle {
	width: 20%;
}

.main_toggle {
	padding: 1.5em;
}

#main_toggle1 {
	background-color: rgb(210,210,210);
	padding-top: 25px;
	padding-bottom: 25px;
}

#main_toggle2 {
	background-color: #ffd2c9;
	padding-top: 30px;
	padding-bottom: 30px;
}

#main_toggle3 {
	background-color: #FAE8A3;
	padding-top: 30px;
	padding-bottom: 30px;
}

#main_toggle4 {
	background-color: #B9EAFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

#main_toggle5 {
	background-color: #C7E5D6;
}

#grandcentral {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

#toggle1 {
	background-color: rgb(210,210,210);
	padding: 2em;
	height: 20%;
}

#toggle2 {
	background-color: #ffd2c9;
	padding: 2em;
	height: 20%;
}
#toggle3 {
	background-color: #FAE8A3;
	padding: 2em;
	height: 20%;
}

#toggle4 {
	background-color: #B9EAFF;
	padding: 2em;
	height: 20%;
}

#toggle5 {
	background-color: #C7E5D6;
	padding: 2em;
	height: 20%;
}

/*other elements*/

.logo_small {
	width: 150px;
}

/*text styles*/

.logo {
	padding-top: 1em;
	padding-left: 4em;
}

.native {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	-webkit-transition: all 1s ease-in-out;   
	-moz-transition: all 1s ease-in-out;   
	-o-transition: all 1s ease-in-out;   
	transition: all 1s ease-in-out;
}

.english {
	-webkit-transition: all 1s ease-in-out;   
	-moz-transition: all 1s ease-in-out;   
	-o-transition: all 1s ease-in-out;   
	transition: all 1s ease-in-out;
}

.language_hover {
	position: relative;
}

.language_hover:hover .native {
	opacity: 1;
}

.language_hover:hover .english {
	opacity: 0;
}

#ja_hover {
	display: inline-block;
}

.fa {
	color: white;
}

#ja {
	font-family: 'Meiryo', sans-serif;
	font-weight: medium;
}

#zh {
	font-family: 'Apple LiGothic Mediu';
}

#th {
	font-family: 'Sathu';

}

#ko {
	font-family: 'AppleMyungjo';
}

.blurb {
	display: inline;
}

.h1_white {
	color: white;
	letter-spacing: 1px;
}

.h2_white {
	color: white;
	letter-spacing: 2px;
}

.h3_white {
	color: white;
	letter-spacing: 2px;
}

.bigspaceafter {
	font-size: 22px;
	line-height: 34px;
	margin-bottom: 1em;
}

.p_spaceafter {
	padding-bottom: 25px;
}

.button {
	color: white;
	width: 100%;
	background-color: rgb(90,90,90);
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: .75em;
	border-radius: .5em;
}

.quote {
	font-style: italic;
	margin-bottom: 20px;
}

.class_signup {
	margin-top: 1em;
	margin-bottom: 1em;
	display: inline-block;
}

.teacher {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 5px;
}

.navtext {
	color: rgb(90,90,90);
}

main:after, #contentwrapper:after {
	content: "";
	display: block;
	clear: both;
}

a:link { 
	text-decoration: none;
}

a:link .button { 
	text-decoration: none;
	background-color: green;
}

a:hover {
    color: gray;
    text-decoration: none;
}
