@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,800);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	text-align: left;
	background-color: rgb(165,195,216);
/*	width: 1000px;*/
	margin-top: 
/*	background-color: #FAFAFA;*/
}

.section {
	width: 50%;
	float: left;
}

.language {
	width: 60%;
	padding-left: 5em;
	padding-right: 5em;
	float: left;
	background-color: rgb(165,195,216);
/*	background-color: cyan;
*/
}

.sidebar {
	width: 20%;
	float: left;
	padding-left: 5em;
	padding-right: 5em;
/*	background-color: rgb(165,195,216);
*/}

.toggle {
	width: 20%;
}


hr { 
    display: block;
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-width: 10px;
}

.logo {
	padding-top: 1em;
	padding-left: 4em;
}

#toggle1 {
	background-color: rgb(210,210,210);
	padding: 1.5em;
}

#toggle2 {
	background-color: #ffd2c9;
	padding: 1.5em;
}
#toggle3 {
	background-color: #FAE8A3;
	padding: 1.5em;
}
#toggle4 {
	background-color: #C7E5D6;
	padding: 1.5em;
}
.fa {
	color: white;
}

.nav {
	width: 26%;
	float: left;
}

.blurb {
	display: inline;
}

.levels {
	background-color: rgba(255,255,255,0.4);
	line-height: 2em;
	padding: .6em;
}

.button {
	color: white;
	background-color: red;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: .8em;
	letter-spacing: .02em;
	padding: .5em;
	margin-top: .5em;
	margin-bottom: 1em;
/*	margin-right: 8em;
*/	border-radius: .5em;
}

main:after {
	content: "";
	display: block;
	clear: both;
}

p {
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	color: rgb(100,100,100);
}

h1 {
	font-family: 'Vollkorn', serif;
	font-size: 3.25em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: -.01em;
	color: white;
	margin-top: 2.5em;
}


span {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: -.01em;
	color: white;
	margin-left: 50px;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: rgb(100,100,100);
	padding-top: 1em;
	padding-bottom: .75em;
}

h3 {
	font-family: Arial, sans-serif;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .07em;
	color: rgb(100,100,100);
	padding-bottom: .5em;
}

b {
	font-weight: bold;
}


footer {
	background-color: #a2a2a2;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: rgb(255,255,255);
	padding: 2em;
	margin-top: 2em;
}


a:link { 
	color: black;
    background-color: white;
    text-decoration: none;
}