@import url(https://fonts.googleapis.com/css?family=Vollkorn:400);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	text-align: left;
	background-color: rgb(165,195,216);
/*	background-color: #FAFAFA;*/
}

.section {
	width: 50%;
	float: left;
}

.logo {
	padding-top: 1em;
	padding-left: 4em;
}

.toggle1 {
	background-color: rgb(210,210,210);
	padding: 1.5em;
}

.toggle2 {
	background-color: #ffd2c9;
	padding: 1.5em;
}
.toggle3 {
	background-color: #FAE8A3;
	padding: 1.5em;
}
.toggle4 {
	background-color: #C7E5D6;
	padding: 1.5em;
}
.fa {
	color: white;
}

.nav {
	width: 26%;
	float: left;
}

.blurb {
	display: inline;
}

main:after {
	content: "";
	display: block;
	clear: both;
}

p {
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	color: rgb(100,100,100);
}

h1 {
	font-family: 'Vollkorn', serif;
	font-size: 3.25em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: -.01em;
	color: white;
	margin-left: 50px;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: rgb(100,100,100);
	padding-top: 10em;
	padding-bottom: .75em;
	margin-left: 50px;
}

h3 {
	font-family: Arial, sans-serif;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .07em;
	color: rgb(100,100,100);
	padding-bottom: .5em;

}

footer {
	background-color: #a2a2a2;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: rgb(255,255,255);
	padding: 2em;
}

a:link { 
	color: black;
    background-color: white;
    text-decoration: none;
}