@import url(https://fonts.googleapis.com/css?family=Vollkorn:400);

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	text-align: left;
	background-color: rgb(165,195,216);
/*	background-color: #FAFAFA;*/
}

p {
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	color: rgb(100,100,100);
}

h1 {
	font-family: 'Vollkorn', serif;
	font-size: 3.25em;
	font-weight: 400;
	line-height: 1.3em;
	letter-spacing: -.01em;
	color: white;
	margin-left: 50px;
}

h2 {
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: rgb(100,100,100);
	padding-top: 10em;
	padding-bottom: .75em;
	margin-left: 50px;
}

h3 {
	font-family: Arial, sans-serif;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .07em;
	color: rgb(100,100,100);
	padding-bottom: .5em;

}

footer {
	background-color: #a2a2a2;
	width: 100%;
	font-family: Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: rgb(255,255,255);
	padding: 2em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

address {
	font-family: 'Vollkorn', serif;
	font-style: normal;
	font-size: 16px;
	color: rgb(100,100,100);
}

#logo {
	width: 22%;
}

.section {
	width: 50%;
	float: left;
}

.logo {
	padding-top: 1em;
	padding-left: 4em;
}

.toggle {
	padding: 1.5em;
}

#toggle1 {
	background-color: rgb(210,210,210);
}

#toggle2 {
	background-color: #ffd2c9;
}

#toggle3 {
	background-color: #FAE8A3;
}

#toggle4 {
	background-color: #C7E5D6;
}

#grandcentral {
	width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.fa {
	color: white;
}

.nav {
	width: 25%;
	height: 100%;
	float: left;
	margin-right: 1em;
}

/*.nav {     
	width: 40%;     
	float: left;     
	height: 0;     
	padding-bottom: 30%; 
}*/

.blurb {
	display: inline;
}

main:after {
	content: "";
	display: block;
	clear: both;
}



a:link { 
	color: black;
    background-color: white;
    text-decoration: none;
}